{% extends 'app_temp/base.html' %}
{% block posts %}
    <h2>Products Page</h2>
    {% for v in vacancies %}
        {% if v.is_top %}
                {% include 'includes/posts_vacancy.html' %}
            <h2>Products:</h2>
        {% endif %}
    {% endfor %}
    <div class="posts_row">
        {% for p in posts %}
        {% if p.is_pub and not p.is_vac %}
            <div class="posts_column">
                {% if not p.image1 %}
                <a class="image_posts_link" href="{% url 'article' p.slug %}">
                    <div class="nophoto_posts">
                            <p class="nophoto_text_posts">No Photo</p>
                    </div>
                </a>
                {% endif %}
                {% if p.image1 %}
                    <a class="image_posts_link" href="{% url 'article' p.slug %}">
                        <img class="image_posts" src="{{ p.image1.url }}" alt="Post Image">
                    </a>
                {% endif %}
                    <a class="post_link" href="{% url 'article' p.slug %}">Product №{{ p.id }}</a>    
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% for v in vacancies %}
        {% if not v.is_top %}
            {% include 'includes/posts_vacancy.html' %}
        {% endif %}
    {% endfor %}
    <a class="back_link back_link_posts" href="{% url 'index' %}">Back</a>
{% endblock posts %}