.text_vac_vacancies {
    max-width: 950px;
    margin: 25px auto;
    min-height: 200px;
    text-align: left; 
    font-size: 25px; 
    color: white; 
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.photo_vac {
    display: block;
    margin: 0 auto;
    width: 950px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}