.posts_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
    margin: 0 auto;
}

.posts_column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.image_posts_link {
    text-decoration: none;
}

.nophoto_posts {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    height: 265px;
    border: 1px solid white;
}

.nophoto_text_posts {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.image_posts {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    height: 265px;
    object-fit: cover;
    overflow: hidden;
}

.post_link {
    text-decoration: none;
    color: rgb(151, 150, 150);
    display: block;
    width: fit-content;
    margin: 15px auto;
    font-family: sans-serif;
    font-size: 30px;
}

.vac_column {
    max-width: 950px;
    margin: 25px auto;
}

.vac_title {
    text-indent: 10px;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}

.vac_photo {
    display: block;
    width: 950px;
    height: 300px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 15px;
}

.vac {
    max-width: 950px;
    border: 1px solid white;
    border-radius: 15px;
    margin: 25px auto;
    min-height: 200px;
}

.vac_text {
    text-align: left;
    margin: 25px;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}
